[Service]
After=postgresql.service
Require=postgresql.service
ExecStartPre=/usr/local/bin/miniflux -migrate
ExecStart=/usr/local/bin/miniflux
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=miniflux
User=miniflux
Group=miniflux

[Install]
WantedBy=multi-user.target
